:root {
    --main-bg-color: #E40000;
    --text-color: #000000;
    --secondary-color: #FEFEFE;
    
    --content-bg-color: #333333;
    --content-border-color: #303030;
    --content-box-bg-color: #3F3F3F;
    --content-box-border-color: #484848;
    --main-link-color:#589DF6;
    --low-contrast-color: #878787;
    --image-overlay-bg-color: rgba(0, 0, 0, 0.95);
}

body, html {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
	font-family: "Open Sans Regular", Arial, sans-serif;
	font-size: 13pt;
	line-height: 1.4;
    color: var(--text-color);
    background-color: var(--main-bg-color);
    overflow: hidden;
}

.layout-container {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    grid-template-columns: 1fr minmax(16em, 20%);
    grid-template-rows: 100%;
    grid-template-areas: 
        "content nav";
}

.navigation {
    position: relative;
    grid-area: nav;
    align-self: stretch;
    justify-self: left;
    background-color: var(--secondary-color);
    box-sizing: border-box;
    width: 200%;
    transform: skewX(-18deg);
}

.navigation .links {
    position: relative;
    box-sizing: border-box;
    display: block;
    font-size: 20pt;
    margin-left: -6em;
    top: 20%;
    z-index: 10;
}

.navigation .links>a {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    transform: skewX(18deg);
    padding: 1em;
    cursor: pointer;
}

.navigation .links>a::before {
    position: absolute;
    box-sizing: border-box;
    width: calc(100% - 1.5em);
    height: calc(100% - 1.5em);
    top: 0.75em;
    left: 0.75em;
    display: block;
    content: "";
    background-color: var(--text-color);
    transform: skewX(10deg) skewY(2deg);
    transition: all 0.25s ease-in;
}

.navigation .links>a:hover::before {
    /* animation: nav-link-hover 0.5s ease-in 0s infinite alternate; */
    transform: skewX(-10deg) skewY(-2deg);
}

.navigation .links>a i {
    position: relative;
    display: inline-block;
    padding: 0.125em 0.25em;
    margin: 0 1px 0 0;
    background-color: var(--secondary-color);
    font-style: normal;
    font-weight: bold;
    -webkit-text-stroke: 5px var(--text-color);
}

.navigation .links>a i:nth-child(2n) {
    top: 0.1em
}

.navigation .links>a i:nth-child(3n) {
    top: -0.05em
}

.navigation .links>a i:nth-child(5n) {
    top: -0.1em
}

.navigation .links>a i:nth-child(6n) {
    top: 0.05em
}

.navigation .links>a i::after {
    position: absolute;
    display: block;
    content: attr(data-value);
    transform-origin: center;
    color: var(--secondary-color);
    z-index: 1;
    top: 0;
    left: 0;
    padding: inherit;
    -webkit-text-stroke: initial;
    /* text-shadow: -1px 0 var(--secondary-color), 0 1px var(--secondary-color), 1px 0 var(--secondary-color), 0 -1px var(--secondary-color); */
}

.navigation .links>a i[data-color="1"] {
    background-color: var(--main-bg-color);
    -webkit-text-stroke: 5px var(--secondary-color);
}

.navigation .links>a i[data-color="1"]::after {
    color: var(--text-color);
    -webkit-text-stroke: initial;
}

.navigation .links>a i[data-color="2"] {
    -webkit-text-stroke: 5px var(--main-bg-color);
}

.navigation .links>a i[data-color="2"]::after {
    color: var(--secondary-color);
    -webkit-text-stroke: initial;
}

.navigation .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    background-color: var(--secondary-color);
}

.navigation .background::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background: linear-gradient(90deg, var(--secondary-color), transparent);
    transition: opacity 0.5s ease;
    z-index: 1;
    opacity: 0;
}

.navigation .links:hover ~ .background::after {
    opacity: 0.7;
}

/* GH */
.gh {
    position: absolute;
    display: block;
    width: 7em;
    height: 5em;
    background-color: transparent;
    mix-blend-mode: multiply;
    overflow: visible;
    z-index: 1;
    transform: skewX(18deg);
    transform-origin: center;
}

.gh .block {
    position: absolute;
    background-color: var(--secondary-color);
    z-index: 10;
}

/* gh1 to gh5 forming GH */
.gh .block.gh1 {
    top: -1%;
    left: 57.2%;
    height: 41%;
    width: 28.6%;
}

.gh .block.gh2 {
    top: 20%;
    left: 14.3%;
    height: 20%;
    width: 45%;
}

.gh .block.gh3 {
    top: 20%;
    left: 14.3%;
    height: 60%;
    width: 14.3%;
}

.gh .block.gh4 {
    top: 60%;
    left: 14.3%;
    height: 20%;
    width: 28.6%;
}

.gh .block.gh5 {
    bottom: -1%;
    left: 57.2%;
    height: 41%;
    width: 28.6%;
}

.navigation .gh[data-color="l1"] {
    background-image: repeating-linear-gradient(-45deg,
        var(--secondary-color),
        var(--secondary-color) 0.5em,
        var(--text-color) 0.5em,
        var(--text-color) 1em);
    top: 0;
    left: 0;
}

.navigation .gh[data-color="l2"] {
    background-image: repeating-linear-gradient(-45deg,
        var(--secondary-color),
        var(--secondary-color) 0.5em,
        var(--main-bg-color) 0.5em,
        var(--main-bg-color) 1em);
    top: 0;
    left: 0;
}

.navigation .gh[data-color="l3"] {
    background-image: repeating-linear-gradient(-45deg,
        var(--text-color),
        var(--text-color) 0.5em,
        var(--main-bg-color) 0.5em,
        var(--main-bg-color) 1em);
    top: 0;
    left: 0;
}

.navigation .gh[data-color="r1"] {
    background-image: repeating-radial-gradient(
        var(--secondary-color),
        var(--secondary-color) 0.5em,
        var(--text-color) 0.5em,
        var(--text-color) 1em);
    top: 7em;
    left: 0;
}

.navigation .gh[data-color="r2"] {
    background-image: repeating-radial-gradient(
        var(--secondary-color),
        var(--secondary-color) 0.5em,
        var(--main-bg-color) 0.5em,
        var(--main-bg-color) 1em);
    top: 7em;
    left: 0;
}

.navigation .gh[data-color="r3"] {
    background-image: repeating-radial-gradient(
        var(--text-color),
        var(--text-color) 0.5em,
        var(--main-bg-color) 0.5em,
        var(--main-bg-color) 1em);
    top: 7em;
    left: 0;
}

.navigation .gh[data-color="c1"] {
    background-image: repeating-conic-gradient(
        var(--secondary-color) 0 9deg,
        var(--text-color) 9deg 18deg);
    top: 14em;
    left: 0;
}

.navigation .gh[data-color="c2"] {
    background-image: repeating-conic-gradient(
        var(--secondary-color) 0 9deg,
        var(--main-bg-color) 9deg 18deg);
    top: 14em;
    left: 0;
}

.navigation .gh[data-color="c3"] {
    background-image: repeating-conic-gradient(
        var(--text-color) 0 9deg,
        var(--main-bg-color) 9deg 18deg);
    top: 14em;
    left: 0;
}

.navigation .gh:nth-child(1) {
    width: 7em;
    height: 5em;
    top: 35%;
    left: 38%;
    transform: skew(18deg) rotate(-90deg);
    opacity: 0.6;
}

.navigation .gh:nth-child(2) {
    width: 7em;
    height: 5em;
    top: 45%;
    left: 40%;
    transform: skew(18deg) rotate(5deg);
    opacity: 0.6;
}

.navigation .gh:nth-child(3) {
    width: 9.8em;
    height: 7em;
    top: 9%;
    left: -8%;
    transform: skew(18deg) rotate(20deg);
    opacity: 0.7;
}

.navigation .gh:nth-child(4) {
    width: 9.8em;
    height: 7em;
    top: 17%;
    left: 23%;
    transform: skew(18deg) rotate(45deg);
    opacity: 0.7;
}

.navigation .gh:nth-child(5) {
    width: 9.8em;
    height: 7em;
    top: 56%;
    left: 37%;
    transform: skew(18deg) rotate(-85deg);
    opacity: 0.7;
}

.navigation .gh:nth-child(6) {
    width: 9.8em;
    height: 7em;
    top: 87%;
    left: 53%;
    transform: skew(18deg) rotate(-60deg);
    opacity: 0.7;
}

.navigation .gh:nth-child(7) {
    width: 9.8em;
    height: 7em;
    top: 84%;
    left: 18%;
    transform: skew(18deg) rotate(45deg);
    opacity: 0.7;
}

.navigation .gh:nth-child(8) {
    width: 12.6em;
    height: 9em;
    top: 91%;
    left: 35%;
    transform: skew(18deg) rotate(-87deg);
    opacity: 0.8;
}

.navigation .gh:nth-child(9) {
    width: 12.6em;
    height: 9em;
    top: -1%;
    left: 1%;
    transform: skew(18deg) rotate(33deg);
    opacity: 0.8;
}

.navigation .gh:nth-child(10) {
    width: 12.6em;
    height: 9em;
    top: 71%;
    left: 31%;
    transform: skew(18deg) rotate(-12deg);
    opacity: 0.8;
}

.navigation .gh:nth-child(11) {
    width: 12.6em;
    height: 9em;
    top: 83%;
    left: -4%;
    transform: skew(18deg) rotate(12deg);
    opacity: 0.8;
}

.navigation .gh:nth-child(12) {
    width: 12.6em;
    height: 9em;
    top: 20%;
    left: -4%;
    transform: skew(18deg) rotate(-12deg);
    opacity: 0.8;
}

.navigation .gh:nth-child(13) {
    width: 15em;
    height: 10em;
    top: 29.5%;
    left: 10%;
    transform: skew(18deg) rotate(104deg);
    opacity: 0.9;
}

.navigation .gh:nth-child(14) {
    width: 15em;
    height: 10em;
    top: 64%;
    left: 0;
    transform: skew(18deg) rotate(-45deg);
    opacity: 0.9;
}

.navigation .gh:nth-child(15) {
    width: 17.5em;
    height: 12.5em;
    top: 42%;
    left: 0;
    transform: skew(18deg) rotate(14deg);
}