@font-face {
	font-family: "Noto Sans JP";
    src: url('../font/NotoSansJP-Regular.otf'); /* Open Font License, see /assets/font/OFL.txt */
    font-display: block;
}

html, body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
	font-family: "Noto Sans JP", sans-serif;
    font-size: 12pt;
    line-height: 1.4;
}

.container {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.container.game {
    --panel-height: 18vw;
    --key-size: 15vw;
    --proposal-size: 8vw;
    background: linear-gradient(#e66465, #9198e5);
}

.container.game .romajiboard {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(var(--panel-height) * 2);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
}

.container.game .romajiboard-scrollrow {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--panel-height);
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;
}

.container.game .romajiboard-panel {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--panel-height);
    padding: 1.5vw 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    transition: all 0.25s ease;
}

.container.game .romajiboard-panel::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: var(--panel-height);
    line-height: var(--panel-height);
    z-index: 0;
    content: "\27E8";
    padding: 0 1vw;
}

.container.game .romajiboard-panel::after {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: var(--panel-height);
    line-height: var(--panel-height);
    z-index: 0;
    content: "\27E9";
    padding: 0 1vw;
}

.container.game .romajiboard-panel:first-child::before,
.container.game .romajiboard-panel:last-child::after {
    display: none;
}

.container.game .romajiboard-key {
    position: relative;
    box-sizing: border-box;
    width: var(--key-size);
    height: var(--key-size);
    border: solid 1px #dddddd;
    background-color: rgba(242, 242, 242, 0.8);
    border-radius: 1vw;
    line-height: calc(var(--key-size) - 2vw);
    text-align: center;
    font-size: calc(var(--key-size) / 1.5);
    transition: all 0.25s ease;
}

.container.game .romajiboard-key:empty {
    visibility: hidden;
}

.container.game .romajiboard-key.touched-down {
    background-color: rgba(242, 144, 144, 0.8);
}

.container.game .romaji-proposal {
    position: absolute;
    left: 0;
    bottom: calc(var(--panel-height) * 2 + var(--proposal-size));
    height: var(--proposal-size);
    width: 100vw;
    box-sizing: content-box;
    padding: 1.5vw 0;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: var(--proposal-size);
}

.container.game .romaji-proposal-text {
    position: absolute;
    left: var(--proposal-size);
    right: var(--proposal-size);
    text-align: center;
    line-height: calc(0.95 * var(--proposal-size));
}

.container.game .romaji-proposal-undo {
    position: absolute;
    right: 0;
    width: var(--proposal-size);
    height: var(--proposal-size);
    text-align: center;
    font-size: 80%;
    line-height: var(--proposal-size);
    color: #666666;
}

.container.game .romaji-proposal-clear {
    position: absolute;
    left: 0;
    width: var(--proposal-size);
    height: var(--proposal-size);
    text-align: center;
    font-size: 80%;
    line-height: var(--proposal-size);
    color: #bd0000;
}

.container.game .romaji-proposal-undo::before,
.container.game .romaji-proposal-clear::before {
    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
    display: block;
    content: "";
}