@font-face {
	font-family: "Open Sans Regular";
    src: url('/style/font/OpenSans-Regular.ttf'); /* see font/Apache License.txt */
    font-display: swap;
}

@font-face {
	font-family: "Roboto Mono Regular";
    src: url('/style/font/RobotoMono-Regular.ttf'); /* see font/Apache License.txt */
    font-display: swap;
}

:root {
    font-size: 62.5%;
    --content-border-width: 1rem;

    --bg-color: #2b2b2b;
    --text-color: #f4f4f5;
    --accent-color: #48f795;

    /*
    --main-bg-color: #2b2b2b;
    --content-bg-color: #333333;
    --content-border-color: #303030;
    --content-box-bg-color: #3f3f3f;
    --content-box-border-color: #484848;
    --main-color: #eeeeee;
    --main-link-color:#589df6;
    --low-contrast-color: #878787;
    --image-overlay-bg-color: rgba(0, 0, 0, 0.95);
    
    --h-grad-1: linear-gradient(27deg, rgb(255, 70, 37) 0%, rgb(186, 23, 255) 50%, rgb(0, 200, 255) 100%);
    --h-grad-2: linear-gradient(27deg, rgb(186, 23, 255) 0%, rgb(0, 200, 255) 50%, rgb(255, 255, 0) 100%);
    --h-grad-3: linear-gradient(27deg,  rgb(0, 200, 255) 0%, rgb(255, 255, 0) 50%, rgb(255, 70, 37) 100%);
    --h-grad-4: linear-gradient(27deg,  rgb(255, 255, 0) 0%, rgb(255, 70, 37) 50%, rgb(186, 23, 255) 100%);*/
}

body, html {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
	font-family: "Open Sans", "Open Sans Regular", Arial, sans-serif;
	font-size: 1.6rem;
	line-height: 1.4;
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: background-color 0.2s ease;
}

a, a:visited {
    color: var(--text-color);
    text-decoration: underline;
}

a:hover {
    color: var(--accent-color);
}

a.arrow:before {
    position: relative;
    display: inline-block;
    margin: 0 0.25em;
    content: "\2192";
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 12rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0 2rem;
    font-size: 120%;
    --scroll-progress: 0;
    --menu-center-spacing: 0;
}

nav.logo-scrolling {
    --menu-center-spacing: calc(var(--scroll-progress) * 5em);
}

nav.logo-embedded {
    --menu-center-spacing: 5em;
}

nav a.menu-link {
    text-decoration: none;
    display: inline-block;
    width: 15rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

nav .menu-space-right {
    margin-right: var(--menu-center-spacing);
}

nav .menu-space-left {
    margin-left: var(--menu-center-spacing);
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

header .svg-logo {
    position: relative;
    width: min(50vh, 50vw);
    height: min(50vh, 50vw);
}

header.logo-embedded .svg-logo{
    position: fixed;
    top: -1.5rem;
    width: 15rem;
    height: 15rem;
}

header .svg-logo-gh {
    fill: #fff;
    fill-opacity: 1;
    stroke: transparent;
    stroke-width: 0;
    stroke-opacity: 0;
    stroke-linejoin: miter;
}

header .svg-logo-bg {
    fill: transparent;
    fill-opacity: 0;
    stroke-width: 0;
}

header .title {
    position: absolute;
    top: 75%;
    font-weight: normal;
}